.header {
    width: 100vw;
    height: 70px;
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
}

.header button {
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburgerButton {
    display: block;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    transition: filter 0.25s linear, transform 0.25s ease-in-out;
    filter: invert(var(--hamburger-invert));
}

.hamburgerButton:hover {
    filter: invert(0.5);
}

.buttonRotate {
    transform: rotate(90deg);
}

.buttonUnRotate {
    transform: rotate(0deg);
}

.header h1 {
    font-family: "Poppins";
    color: var(--header-text-color);
}

.logout {
    background-color: var(--logout-background-color) !important;
    padding: 6px !important;
    border: none !important;
}

.logout a {
    text-decoration: none;
}

.logout p {
    color: var(--logout-text-color) !important;
}

.overflow {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 70px;
    right: 0;
    background-color: var(--header-background-color);
    transition: right 0.25s ease-in-out;
    color: var(--header-text-color);
    box-shadow: rgb(0 0 0 / 15%) -1.95px 1.95px 2.6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: column;
}

.gone {
    right: -200px;
}

.notgone {
    right: 0;
}


.overflow li {
    display: inline;
    border: 1px solid var(--header-border-color);
    border-radius: 5px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.overflow li:hover {
    outline: 1px solid var(--header-border-color);
}

.overflow li a {
    text-decoration: none;
    color: var(--header-text-color);
}

.overflow p {
    color: var(--header-text-color);
    cursor: pointer;
    text-decoration: none;
}