.addWebsite {
    position: fixed;
    width: 100vw;
    height: 90vh;
    background-color: var(--slide-up-background-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 100%;
    left: 0;
    overflow: hidden;
}

.removeWebsite {
    animation: moveDown 0.35s ease-in-out forwards;
}

.showWebsite {
    animation: moveUp 0.35s ease-in-out forwards;
}

.header {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--slide-up-text-color);
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
}

.closeButton {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--close-button-color);
    transition: color 0.15s linear;
}

.closeButton:hover {
    color: var(--close-button-hover-color);
}

.main {
    width: 100vw;
    height: calc(90vh - 50px);
}

@keyframes moveUp {
    0% {
        top: 100%;
    }

    100% {
        top: 10%;
    }
}

@keyframes moveDown {
    0% {
        top: 10%;
    }

    100% {
        top: 100%;
    }
}