.themeChanger {
    background: none;
    width: 50px;
    height: 320px;
    position: fixed;
    left: 0;
    top: 50%;
}

.themeOptions {
    width: 50px;
    height: 300px;
    position: absolute;
    top: 10px;
    /* left: 0; */
    left: -50px;
    background-color: var(--color-picker-background-color);
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
    transition: left 0.25s ease-in-out;
    overflow: hidden;
    padding: 40px 0;
}

.themeChanger:hover .themeOptions {
    left: 0;
}

.themeText {
    background-color: var(--color-picker-background-color);
    width: 35px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 100vw;
    border-bottom-right-radius: 100vw;
}

.themeText h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.textGone {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.themeOptions > fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2rem;
    background: none;
    align-items: center;
    justify-content: center;
}

.themeOptions input[type="radio"] {
    appearance: none;
    width: 30px;
    height: 30px;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
    background:none;
    transition: background 0.25s linear;
}

.themeOptions input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.dark {
    --radio-color: black;
}

.light {
    --radio-color: gray;
}

@media (max-width: 550px) {
    .themeChanger {
        width: 100%;
        position: relative;
        top: 0;
    }

    .themeText {
        display: none;
    }

    .themeOptions {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        background: none;
    }

    .themeOptions > fieldset {
        border: 0;
        display: flex;
        height: 100%;
        width: 100%;
        gap: 2rem;
        background: none;
        flex-direction: row;
    }
}